@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #393737;
}

.main {
  @apply leading-[normal] m-0;
  background-color: #0b071d;
  font-family: 'Inter', sans-serif;
}

*,
::before,
::after {
  border-width: 0;
}

.blur-effect {
  backdrop-filter: blur(2px);
}

@layer utilities {
  @variants responsive {
  }
}

/* Home page styles  */
@layer components {
  .connect-wallet {
    @apply px-[120px] flex flex-col justify-center h-screen;
    font-family: 'Space Grotesk' !important;
    background:
      url('/cosmos-background.png'),
      lightgray 50% / cover;
  }

  .space-ship-image-1 {
    @apply absolute top-[72px] left-[272px];
  }

  .space-ship-image-2 {
    @apply absolute top-[180px] left-[282px];
  }

  .connect-wallet-header {
    @apply pt-6 absolute top-0;
  }

  .home-title {
    @apply relative flex gap-[140px] text-white text-[150px] font-bold leading-[175px] tracking-[6px];
  }

  .home-title img {
    @apply absolute left-[170px] bottom-[-20px];
  }

  .home-title h1 {
    @apply z-[10];
  }

  .home-title-caption h2 {
    @apply text-white text-[48px] font-light leading-[90px] tracking-[1.92px];
  }

  .connect-wallet-btn {
    @apply text-white px-[54px] py-6 rounded-full border-[4px] border-[#612155] text-[24px] font-bold leading-8 tracking-[1.92px];
  }

  .primary-action-btn {
    @apply w-[152px] h-[44px] rounded-2xl text-white text-[16px] font-medium leading-3;
    background:
      linear-gradient(
        180deg,
        rgba(74, 162, 156, 0.9) 0%,
        rgba(139, 61, 167, 0.9) 100%
      ),
      lightgray 50% / cover no-repeat;
  }
}

/* Connect Wallet styles */
@layer components {
  .custom-box {
    @apply w-[1102px] h-[300px] rounded-2xl;
    justify-content: center;
    background-color: #20172f;
    padding: 24px;
    display: flex;
  }

  .add-wallet-header {
    @apply flex justify-between items-center relative;
  }

  .add-wallet-header .dialog-close-icon {
    @apply absolute right-0;
  }

  .dialog-close-icon {
    @apply cursor-pointer;
  }

  .add-wallet-header h2 {
    @apply flex-col font-bold text-white text-[20px];
    margin: auto;
  }

  .add-wallet-dialog-content {
    @apply flex w-full justify-between mt-10;
    padding: 0 180px;
  }

  .wallet {
    @apply w-[172px] h-[140px] flex flex-col justify-center items-center cursor-pointer rounded-md hover:bg-[#3B3148];
  }

  .wallet-name {
    @apply font-bold text-white items-center text-center leading-3 text-[20px] h-10 flex;
  }

  .logout-box {
    @apply flex w-[788px] h-[376px] flex-col justify-center items-start gap-10 relative backdrop-blur-[2px] px-6 py-10 rounded-2xl;
    background: #20172f;
  }
}

/* Sidebar styles  */
@layer components {
  .sidebar-logo {
    @apply w-[55px] h-[30px] shrink-0;
  }

  .sidebar {
    @apply h-screen min-h-[800px] w-[87px] px-4 py-10 flex flex-col justify-between items-center;
    background: #0e0b26;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .sidebar-menu-item {
    @apply cursor-pointer w-12 h-12 flex items-center justify-center rounded-lg hover:bg-[#221F38];
  }

  .sidebar-menu-item-selected {
    background-image: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
  }

  .main {
    @apply flex;
  }
}

/* Select Network styles */

.select-network,
.add-network {
  @apply text-white rounded-3xl;
}

.add-network-button {
  @apply text-white rounded-lg px-4 py-[6px] text-[12px] font-medium leading-[20px] tracking-[0.48px];
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}

.networks-list {
  @apply grid grid-cols-5 gap-6;
}

.network-item {
  @apply p-4 rounded-2xl h-16 flex gap-2 items-center cursor-pointer bg-[#FFFFFF0D] hover:bg-[#ffffff2b];
}

.network-item-selected {
  @apply border-[#ffffff3d] border-[0.1px] bg-[#ffffff24];
}

.wallet-address {
  @apply flex gap-2 items-center h-6 p-2 text-white text-[14px] font-normal leading-normal rounded-lg opacity-80 bg-[#FFFFFF1A] w-[168px];
}

.divider-line {
  @apply h-[1px] w-full my-4;
  background: linear-gradient(90deg, #4aa29c 7.46%, #8b3da7 94.28%);
}

/* Add new network styles  */

.add-network {
  @apply w-[890px] min-h-[485px];
}

.file-upload-box {
  @apply flex justify-center items-center px-4 py-10 bg-[#FFFFFF1A] min-h-[152px] rounded-3xl w-full cursor-pointer;
}

.add-network-json-sample-link {
  @apply underline underline-offset-2 cursor-pointer;
}

.show-more-errors {
  @apply underline underline-offset-2 cursor-pointer text-[12px];
}

.gradient-bg {
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}

.add-network-button-2 {
  @apply text-center px-10 py-[10px] text-[16px] leading-[20px] rounded-2xl w-[144px] font-medium;
}

.custom-radio-button {
  @apply border-2 w-4 h-4 border-[#FFFFFF80] rounded-full flex justify-center items-center;
}

.custom-radio-button-label {
  @apply flex items-center cursor-pointer gap-2;
}

.custom-radio-button-checked {
  @apply h-[6px] w-[6px] bg-white rounded-full;
}

.chain-exist-error {
  @apply text-red-600 font-bold;
}




