@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #ffffff80;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

*,
*::before,
*::after {
  @apply box-border;
}

body {
  color: var(--primary-text-color);
  font-family: 'Libre Franklin', sans-serif !important;
  font-optical-sizing: auto !important;
}

.primary-btn {
  @apply border-[1px] text-white text-[16px] rounded-full px-4 py-[10.5px] leading-[19px] h-10 flex justify-center items-center;
  background: linear-gradient(
    180deg,
    rgba(68, 83, 223, 0.1) 12.5%,
    rgba(127, 92, 237, 0.1) 87.5%
  );
  border-image: url("data:image/svg+xml,%3csvg width='149' height='42' viewBox='0 0 149 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3crect x='0.5' y='0.5' width='148' height='41' rx='20.5' stroke='url(%23paint0_linear_2064_7866)'/%3e %3cdefs%3e %3clinearGradient id='paint0_linear_2064_7866' x1='74.5' y1='1' x2='74.5' y2='41' gradientUnits='userSpaceOnUse'%3e %3cstop stop-color='%234453DF'/%3e %3cstop offset='1' stop-color='%237F5CED'/%3e %3c/linearGradient%3e %3c/defs%3e %3c/svg%3e")
    20 / 40px stretch;
}

.secondary-text {
  @apply text-[var(--secondary-text-color)] font-extralight text-[14px];
}

.secondary-btn {
  @apply text-[var(--secondary-text-color)] font-extralight text-[14px] underline underline-offset-[2px];
}

.divider-line {
  @apply w-full bg-[#FFFFFF80] h-[0.25px] opacity-20;
}

.flex-center {
  @apply flex justify-center items-center;
}

.empty-screen-title {
  @apply text-[32px] font-bold;
  background: linear-gradient(270deg, #fff -67.89%, #999 99.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.empty-screen-description {
  @apply text-[16px] font-extralight tracking-[1.6px] leading-[21px];
  background: linear-gradient(270deg, #fff -67.89%, #999 99.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-h1 {
  @apply text-[28px] font-bold;
}

.text-h2 {
  @apply text-[18px];
}

.text-b1 {
  @apply text-[14px];
}

.text-b1-light {
  @apply text-[14px] text-[var(--secondary-text-color)] font-extralight;
}

.text-small {
  @apply text-[12px] text-[var(--secondary-text-color)];
}

.text-small-light {
  @apply text-[12px] text-[var(--secondary-text-color)] font-extralight;
}

.text-btn {
  @apply text-[var(--secondary-text-color)] font-extralight text-[14px] underline underline-offset-[2px];
}

.txn-status-data {
  @apply flex items-center justify-center gap-2 px-6 py-[10.5px] bg-[#FFFFFF05] rounded-full w-full;
}

.more-msgs {
  @apply bg-[#FFFFFF14] flex justify-center items-center text-[12px] h-6 min-w-6 rounded-2xl p-2;
}
