@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #393737;
}

.disable-draggable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.main {
  @apply leading-[normal] m-0 text-white;
  background-color: #0b071d;
  font-family: 'Inter', sans-serif;
}

.right-section {
  @apply flex flex-col p-6 bg-[#0e0b26] min-w-[500px] min-h-screen max-h-screen overflow-y-scroll;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.page-padding {
  @apply px-10 py-6;
}

@media screen and (max-width: 1450px) {
  .right-section {
    @apply flex flex-col p-6 bg-[#0e0b26] min-w-[450px] min-h-screen max-h-screen overflow-y-scroll;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .page-padding {
    @apply px-5 py-3;
  }
}

*,
::before,
::after {
  border-width: 0;
}

.blur-effect {
  backdrop-filter: blur(2px);
}

@layer base {
  .txt-xs {
    @apply text-[12px] leading-normal;
  }

  .txt-sm {
    @apply text-[14px] leading-normal;
  }

  .txt-md {
    @apply text-[16px] leading-normal;
  }

  .txt-lg {
    @apply text-[20px] leading-normal;
  }

  .txt-xl {
    @apply text-[24px] leading-normal;
  }
}

@layer components {
  .text-capitalize {
    text-transform: capitalize;
  }

  .primary-gradient {
    background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
  }

  .flex-center-center {
    @apply flex justify-center items-center;
  }
}

/* Home page styles  */
@layer components {
  .connect-wallet {
    @apply px-[120px] flex flex-col justify-center h-screen;
    font-family: 'Space Grotesk' !important;
    background:
      url('/cosmos-background.png'),
      lightgray 50% / cover;
  }

  .space-ship-image-1 {
    @apply absolute top-[72px] left-[272px];
  }

  .space-ship-image-2 {
    @apply absolute top-[180px] left-[282px];
  }

  .connect-wallet-header {
    @apply pt-6 absolute top-0;
  }

  .home-title {
    @apply relative flex gap-[140px] text-white text-[150px] font-bold leading-[175px] tracking-[6px];
  }

  .home-title img {
    @apply absolute left-[170px] bottom-[-20px];
  }

  .home-title h1 {
    @apply z-[10];
  }

  .home-title-caption h2 {
    @apply text-white text-[48px] font-light leading-[90px] tracking-[1.92px];
  }

  .connect-wallet-btn {
    @apply text-white px-[54px] py-6 rounded-full border-[4px] border-[#612155] text-[24px] font-bold leading-8 tracking-[1.92px];
  }

  .primary-action-btn {
    @apply w-[152px] h-[44px] rounded-2xl text-white text-[16px] font-medium leading-3;
    background:
      linear-gradient(
        180deg,
        rgba(74, 162, 156, 0.9) 0%,
        rgba(139, 61, 167, 0.9) 100%
      ),
      lightgray 50% / cover no-repeat;
  }

  .custom-btn {
    @apply rounded-2xl text-white text-[16px] font-medium leading-3;
    background:
      linear-gradient(
        180deg,
        rgba(74, 162, 156, 0.9) 0%,
        rgba(139, 61, 167, 0.9) 100%
      ),
      lightgray 50% / cover no-repeat;
  }

  .primary-custom-btn {
    @apply rounded-2xl text-white text-base not-italic font-medium leading-5 tracking-[0.64px] h-10 flex items-center justify-center px-10;
    background:
      linear-gradient(
        180deg,
        rgba(74, 162, 156, 0.9) 0%,
        rgba(139, 61, 167, 0.9) 100%
      ),
      lightgray 50% / cover no-repeat;
  }

  .primary-custom-btn-disabled {
    @apply bg-[#FFFFFF1A] text-[#FFFFFF1A] cursor-not-allowed rounded-2xl text-base not-italic font-medium leading-5 tracking-[0.64px] h-10 flex items-center justify-center px-10;
    background: #ffffff1a;
  }

  .secondary-custom-btn {
    @apply rounded-lg text-white text-xs not-italic font-medium leading-5 tracking-[0.48px] h-8 flex items-center justify-center px-3;
    background:
      linear-gradient(
        180deg,
        rgba(74, 162, 156, 0.9) 0%,
        rgba(139, 61, 167, 0.9) 100%
      ),
      lightgray 50% / cover no-repeat;
  }

  .recent-txn-item-icon {
    @apply rounded-lg;
    background: linear-gradient(180deg, #0b071d 0%, #0e0b26 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }

  .chip {
    @apply rounded-2xl px-2 py-1 text-[12px];
  }

  .fill {
    background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
  }

  .formatted-text-1 {
    @apply text-sm font-normal leading-[14px] max-w-[293px] truncate;
  }

  .overflowed-text {
    @apply text-sm font-normal leading-[14px];
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  .recent-txn-item-icon {
    @apply rounded-lg;
    background: linear-gradient(180deg, #0b071d 0%, #0e0b26 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }

  .fill {
    background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
  }
}

/* Connect Wallet styles */
@layer components {
  .custom-box {
    @apply w-[1102px] h-[300px] rounded-2xl;
    justify-content: center;
    background-color: #20172f;
    padding: 24px;
    display: flex;
  }

  .add-wallet-header {
    @apply flex justify-between items-center relative;
  }

  .add-wallet-header .dialog-close-icon {
    @apply absolute right-0;
  }

  .dialog-close-icon {
    @apply cursor-pointer;
  }

  .add-wallet-header h2 {
    @apply flex-col font-bold text-white text-[20px];
    margin: auto;
  }

  .add-wallet-dialog-content {
    @apply flex w-full justify-between mt-10;
    padding: 0 180px;
  }

  .wallet {
    @apply w-[172px] h-[140px] flex flex-col justify-center items-center cursor-pointer rounded-md hover:bg-[#3B3148];
  }

  .wallet-name {
    @apply font-bold text-white items-center text-center leading-3 text-[20px] h-10 flex;
  }

  .logout-box {
    @apply flex w-[788px] h-[376px] flex-col justify-center items-start gap-10 relative backdrop-blur-[2px] px-6 py-10 rounded-2xl;
    background: #20172f;
  }
}

/* Sidebar styles  */
@layer components {
  .sidebar-logo {
    @apply w-[55px] h-[30px] shrink-0;
  }

  .sidebar {
    @apply flex w-[87px] flex-col justify-between items-center shrink-0 px-4 py-8 h-screen;
    background: #0e0b26;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .sidebar-menu-item {
    @apply cursor-pointer w-12 h-12 flex items-center justify-center rounded-lg hover:bg-[#221F38];
  }

  .sidebar-menu-item-selected {
    background-image: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
  }

  .main {
    @apply flex;
  }

  /* Side ads styles */
  .ad-close {
    @apply absolute right-3 top-1 cursor-pointer rounded-full bg-[#ffffff1a];
  }
}

/* Select Network styles */

.select-network,
.add-network {
  @apply text-white rounded-3xl;
}

.add-network-button {
  @apply text-white rounded-lg px-4 py-[6px] text-[12px] font-medium leading-[20px] tracking-[0.48px];
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}

.networks-list {
  @apply grid grid-cols-5 gap-6;
}

.network-item {
  @apply p-4 rounded-2xl h-16 flex gap-2 items-center cursor-pointer bg-[#FFFFFF0D] hover:bg-[#ffffff18];
}

.network-item-selected {
  @apply rounded-2xl;
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}

.wallet-address {
  @apply flex items-center gap-2 opacity-80 text-white text-center text-sm font-normal leading-[normal] p-2 rounded-lg w-[176px] h-[36px];
  background: rgba(255, 255, 255, 0.1);
}

.all-networks {
  @apply flex items-center gap-2 text-white text-center text-sm font-normal leading-[normal] py-2 rounded-lg h-[36px];
}

.common-copy {
  @apply flex items-center gap-2 opacity-80 p-2 rounded-lg;
  background: rgba(255, 255, 255, 0.1);
}

.divider-line {
  @apply h-[1px] w-full my-4 bg-[#ffffff35] opacity-50;
}

/* Add new network styles  */

.add-network {
  @apply w-[890px] min-h-[485px];
}

.file-upload-box {
  @apply flex justify-center items-center px-4 py-10 bg-[#FFFFFF1A] min-h-[152px] rounded-3xl w-full cursor-pointer;
}

.add-network-json-sample-link {
  @apply underline underline-offset-2 cursor-pointer;
}

.show-more-errors {
  @apply underline underline-offset-2 cursor-pointer text-[12px];
}

.gradient-bg {
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}

.add-network-button-2 {
  @apply text-center px-10 py-[10px] text-[16px] leading-[20px] rounded-2xl w-[144px] font-medium;
}

.custom-radio-button {
  @apply border-2 w-4 h-4 border-[#FFFFFF80] rounded-full flex justify-center items-center;
}

.custom-radio-button-label {
  @apply flex items-center cursor-pointer gap-2;
}

.custom-radio-button-checked {
  @apply h-[6px] w-[6px] bg-white rounded-full;
}

.chain-exist-error {
  @apply text-red-600 font-bold;
}

/* Transaction success Popup styles */
.transaction-box {
  @apply flex flex-col justify-center items-center gap-6 opacity-95 backdrop-blur-[2px] rounded-3xl;
  background: linear-gradient(90deg, #704290 0.11%, #241b61 70.28%);
}

.cross {
  /* @apply flex justify-end items-center self-stretch gap-2.5 pl-6 pr-10 py-4; */
  @apply flex justify-end items-center gap-2.5 self-stretch pl-6 pr-10 pt-10 pb-6;
}

.transaction-inner-grid {
  @apply flex flex-col justify-center items-start gap-4 self-stretch opacity-80 px-4 py-2 rounded-2xl;
  background: rgba(255, 255, 255, 0.05);
}

.button {
  @apply flex justify-center items-center gap-6 px-10 py-2.5 rounded-2xl text-white text-base font-medium leading-5 tracking-[0.64px];
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}

.popup-text {
  @apply text-white text-sm leading-[normal];
}

/* WalletPopup */

.wallet-box {
  @apply flex flex-col justify-center items-center gap-6 opacity-95 backdrop-blur-[2px] rounded-3xl w-[889px];
  /* background: linear-gradient(90deg, #704290 0.11%, #241b61 70.28%); */
  background: linear-gradient(
    178deg,
    #241b61 1.71%,
    #69448d 98.35%,
    #69448d 98.35%
  );
}

.connect-wallet-box {
  @apply flex-col gap-6 pl-10 pr-10;
}

.wallet-grid {
  background: rgba(255, 255, 255, 0.05);
  @apply flex flex-col items-center gap-4 p-4 cursor-pointer rounded-2xl hover:bg-[#585287] px-8 py-4 w-full;
}
.selected-wallet {
  @apply opacity-100;
  background: linear-gradient(
    180deg,
    rgba(74, 162, 156, 0.4) 0%,
    rgba(139, 61, 167, 0.4) 100%
  );
}

/* Landingpage */
.powered-by {
  color: white;
  font-size: 16px;
  font-weight: bold;
  animation: scrollText 10s linear infinite;
}

.powered-by-background {
  @apply flex w-full grow-0 justify-center items-center gap-2.5 p-2.5 fixed bottom-0 opacity-100 h-12;
  background: rgba(255, 255, 255, 0.05);
}
.text {
  @apply text-white text-base not-italic font-light leading-7 tracking-[0.96px];
}
.landingpage-background {
  @apply flex flex-col min-h-screen;
  background: linear-gradient(107deg, #1f184e 1.65%, #8b3da7 100%);
}
.landingpage-button {
  @apply flex justify-center items-center gap-6 px-6 py-4 rounded-[100px] w-[226px] cursor-pointer;
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}

.dots-flashing:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow:
      0.25em 0 0 rgba(0, 0, 0, 0),
      0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow:
      0.25em 0 0 rgba(0, 0, 0, 0),
      0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow:
      0.25em 0 0 white,
      0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow:
      0.25em 0 0 white,
      0.5em 0 0 white;
  }
}

.loader  {
  animation: rotate 1s infinite;  
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;  
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite; 
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.image-animation {
  animation: floatAnimation 3s ease-in-out infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
