@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.interchain-agent-body {
  font-family: 'Inter', sans-serif !important;
}

.btn-bg {
  background: linear-gradient(180deg, #4453df 0%, #7f5ced 100%);
}

.input-box {
  @apply w-full border-none cursor-text focus:outline-none bg-transparent  placeholder:text-[#FFFFFF30] placeholder:font-normal text-[#ffffff];
}

.divider-line {
  @apply bg-[#FFFFFF80] w-full h-[1px];
}

.solid-btn {
  @apply rounded-full;
  background: linear-gradient(180deg, #4453df 0%, #7f5ced 100%);
}

.chat-markdown pre code {
  border-radius: 1rem !important;
  background: #09090a66 !important;
}

.dots-loader:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

.dots-loader:after {
  content: ' ....';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow:
      0.25em 0 0 rgba(0, 0, 0, 0),
      0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: white;
    text-shadow:
      0.25em 0 0 rgba(0, 0, 0, 0),
      0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow:
      0.25em 0 0 white,
      0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow:
      0.25em 0 0 white,
      0.5em 0 0 white;
  }
}

.stop-btn {
  @apply border-[1px] h-8 hover:bg-[#ffffff15] border-[#ffffff29] flex items-center gap-1 rounded-full px-4 py-2;
}
