.multisig-card {
  @apply bg-[#FFFFFF05] px-4 py-6 rounded-2xl space-y-6 cursor-pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.actions-required-badge {
  @apply rounded-full text-[10px] font-light h-6 flex items-center px-3 border-[1px] border-[#F15757] bg-[#F1575780];
}

.txn-card {
  @apply bg-[#ffffff05] rounded-2xl p-6 flex justify-between;
}

.stats-card {
  @apply flex-1 rounded-2xl bg-[#FFFFFF05] p-6 flex flex-col justify-center items-center gap-4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.members-list {
  @apply rounded-2xl bg-[#FFFFFF05] p-4 space-y-4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
