.multisig-card {
  @apply bg-[#FFFFFF05] px-4 py-6 rounded-2xl space-y-6 cursor-pointer;
}

.actions-required-badge {
  @apply rounded-full text-[10px] font-light h-6 flex items-center px-3 border-[1px] border-[#F15757] bg-[#F1575780];
}

.txn-card {
  @apply bg-[#ffffff05] rounded-2xl p-6 flex justify-between relative items-center;
}

.stats-card {
  @apply flex-1 rounded-2xl bg-[#FFFFFF05] p-6 flex flex-col justify-center items-center gap-4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.members-list {
  @apply rounded-2xl bg-[#FFFFFF05] p-4 space-y-4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.txns-filter {
  @apply h-10 flex justify-center items-center text-[16px] px-4 py-[10.5px]  rounded-lg;
}

.txns-filter-unselected {
  @apply border-[0.25px] bg-transparent border-[#FFFFFF10] hover:bg-[#ffffff08] hover:border-transparent;
}

.txns-filter-selected {
  @apply bg-[#FFFFFF14] border-[0.25px] border-transparent;
}

.more-options {
  @apply bg-[#FFFFFF14] rounded-2xl flex flex-col absolute right-[24px] top-12 overflow-hidden w-[180px] z-[999];
  backdrop-filter: blur(15px);
}

.delete-multisig-btn {
  border-image: none !important;
  background: #d921011a !important;
}

.threshold {
  @apply text-[14px] rounded-full h-10 border-[#ffffff10] border-[0.25px] px-4 py-[10.5px] w-[125px] flex justify-center items-center gap-2;
}

.address-pubkey-field-error,
.address-error {
  @apply h-[18px] text-[#D92101] text-right text-[12px] font-light;
}

.add-members {
  @apply grid grid-cols-2 gap-x-10 gap-y-2;
}

/* .add-members {
  @apply max-h-[180px] overflow-y-scroll;
}

.add-members::-webkit-scrollbar {
  width: 5px;
}

.add-members::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.add-members::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff40;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
} */

