.multisig-grid {
    @apply grid grid-rows-4 gap-[40px];
  }
  .multisig{
    @apply flex flex-row h-[112px] items-start gap-6 self-stretch p-6 rounded-2xl;
  background: rgba(46, 32, 55, 0.75);
  }
  .multisig-details {
    @apply space-y-4;
  }
  .multisig {
    @apply flex justify-between items-center flex-[1_0_0] self-stretch;
  }
  .multisig-first {
    @apply text-[#B0B0B0] text-sm not-italic font-normal leading-4 tracking-[0.28px] flex-[1_0_0];
  }
  .multisig-second {
    @apply flex h-6 flex-col justify-center self-stretch text-white text-right text-sm not-italic font-normal leading-10 tracking-[0.56px];
  }
  .v-line {
    @apply w-px h-[50px];
    background: rgba(176, 176, 176, 0.2);
  }
  .network {
    @apply flex  h-10 justify-between items-center self-stretch;
  }
  .network-name {
    @apply flex w-[200px] flex-col justify-center self-stretch text-white mr-[1305px] text-base not-italic font-normal leading-3 ;
  font-family: Inter;
  }
  .all-multisig-grid {
    @apply   items-start gap-6 self-stretch p-6 rounded-2xl;
  background: rgba(46, 32, 55, 0.75);
  }
  .multisig-grid-1 {
    @apply flex flex-row justify-between items-center flex-[1_0_0] self-stretch;
  }
  .multisig-grid-2 {
    @apply flex flex-row items-center gap-10 self-stretch;
  }
  .multisig-grid-3 {
    @apply flex flex-row items-start gap-4 self-stretch;
  }
  .drop-box {
    @apply flex items-start w-[87px] gap-2 border px-10 py-2 rounded-lg border-solid border-[rgba(176,176,176,0.20)];
  }
  
  


 