.create-grant-btn {
  @apply py-[10px] rounded-2xl px-10 text-[16px] font-medium leading-[20px] tracking-[0.64px];
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}

.feegrants-type-btn,
.feegrants-type-btn-selected {
  @apply flex items-center rounded-full bg-[#FFFFFF1A] text-[14px] h-[33px] leading-normal px-6 py-2;
  backdrop-filter: blur(2px);
}

.feegrants-type-btn-selected {
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}

.feegrant-card-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6;
}

.feegrant-small-text {
  @apply text-[#FFFFFF80] text-sm font-normal leading-[normal];
}
.feegrant-card {
  @apply flex flex-col items-start gap-4 backdrop-blur-[2px] p-6 rounded-2xl;
  background: #0e0b26;
}
.feegrant-address {
  @apply flex items-center gap-2 opacity-80 p-2 rounded-lg;
  background: rgba(255, 255, 255, 0.1);
}
.revoke-btn {
  @apply flex justify-center items-center gap-6 px-3 py-1.5 rounded-lg;
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}
.periodic {
  @apply flex items-center h-[26px] opacity-80 p-2 rounded-lg text-[#DCA843];
  background: rgba(220, 168, 67, 0.3);
}
.basic {
  @apply flex items-center gap-2 h-[26px] opacity-80 p-2 rounded-lg text-[#EFFF34];
  background: rgba(239, 255, 52, 0.4);
}
.view-button {
  @apply text-white text-xs not-italic font-medium leading-5 tracking-[0.48px] underline;
}
.main-btn {
  @apply flex justify-center items-center gap-6 px-10 py-2.5 rounded-2xl;
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}
.text-background {
  @apply flex h-[54px] items-center gap-2  px-4 py-0 rounded-2xl;
  background: rgba(255, 255, 255, 0.02);
}
.message-style {
  @apply flex flex-col items-start gap-4 self-stretch px-6 py-4 rounded-2xl;
  background: rgba(255, 255, 255, 0.02);
}

.msg-item {
  @apply flex-center-center cursor-pointer rounded-2xl px-6 py-4 text-[14px] bg-[#FFFFFF0D];
}

.error-box {
  @apply flex justify-end mt-2 h-[26px];
}

.error-chip {
  @apply text-[12px] rounded-lg bg-[#ff00005b] text-white text-center leading-normal max-w-fit py-1 px-2 truncate;
}
