.background-overview {
  @apply h-full;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(68, 83, 223, 0.2) 0%,
    rgba(9, 9, 10, 0.2) 100%
  );
}
.table-border-line {
  @apply h-[1px] self-stretch border-b;
}
.h-line {
  @apply h-[1px] self-stretch bg-[#1C1C20];
}
.dashboard-card {
  @apply flex flex-col items-center gap-2 flex-[1_0_0] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)_inset] p-4 rounded-2xl;
  background: rgba(255, 255, 255, 0.02);
}
.background-color {
  @apply flex;
  border-radius: 8px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(68, 83, 223, 0.2) 0%,
    rgba(9, 9, 10, 0.2) 100%
  );
}
