.card {
  @apply flex flex-col items-start gap-4 self-stretch p-4 rounded-2xl;
  background: rgba(255, 255, 255, 0.05);
}

.selected {
  border: 1px solid #4AA29C;
  background: linear-gradient(180deg, rgba(74, 162, 156, 0.40) 0%, rgba(139, 61, 167, 0.40) 100%);
}

.coloured-container {
  @apply flex justify-between items-center self-stretch px-6 py-4 rounded-2xl;
  background: linear-gradient(90deg, #704290 0.19%, #241b61 79.25%);
}