.proposal-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
        text-align: left;
        min-height: 41px;
        margin-top: 8px !important;
}

.proposal-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
        text-align: left;
        min-height: 48px;
        margin-top: 8px !important;
}

.inline-space-between {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
}

.hover-link:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #1a0dab;
}

.button-capitalize-title {
        text-transform: none !important;
}


.claim-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;
        margin-top: 8px;
        box-shadow: 1px 1px 12px 0px rgb(0 0 0 / 3%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.route-selected {
        background-color: #1a0dab;
}

.pd-22 {
        padding: 22;
}

.f-right {
        margin-top: 10px;
        float: right;       
}

.pull-right{
        float: right;
}

.m-20 {
        margin: 20px;
}

.m-t-40 {
        margin-top: 40px;
}

.read-more {
        text-decoration: underline;
}

.read-more:hover {
        cursor: pointer;
}