active: "dev"
production:
  database:
    host: ""
    port: 5432
    user: ""
    password: ""
    name: ""
  api:
    port: 1323
  coingecko:
    uri: "https://api.coingecko.com/api/v3/"
dev:
  database:
    host: "localhost"
    port: 5432
    user: "postgres"
    password: "password"
    name: "resolute"
  api:
    port: 1323
  coingecko:
    uri: "https://api.coingecko.com/api/v3/"