.gov-main {
  @apply pt-20 px-10 relative space-y-20 flex flex-col;
  height: calc(100vh - 60px) !important;
}

.proposal-id {
  @apply relative flex items-center justify-center font-bold rounded-lg w-16 text-white text-[14px] tracking-[1.96px] h-[35px];
  background: linear-gradient(
    180deg,
    rgba(122, 126, 156, 0.2) 0.5%,
    rgba(9, 9, 10, 0.2) 100%
  );
}

.bottom-network-logo {
  @apply absolute bottom-[-8px] right-[-4px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] rounded-[100px] border-2 border-solid border-[#111115];
  background: lightgray 50% / cover no-repeat;
}

.active-badge {
  @apply h-[25px] w-[85px] border flex justify-center items-center gap-2 px-3 py-1 rounded-[100px] border-solid border-[#2BA472];
  background: rgba(43, 164, 114, 0.5);
}

.deposit-badge {
  @apply h-[25px] w-[85px] flex justify-center items-center gap-2 border px-3 py-1 rounded-[100px] border-solid border-[#DA561E];
  background: rgba(218, 86, 30, 0.5);
}

.search-proposal-input {
  @apply w-full border-none cursor-text focus:outline-none bg-transparent placeholder:text-[16px] placeholder:text-[#FFFFFF80] placeholder:font-normal text-[#ffffff];
}

.search-proposal-field {
  @apply py-4 px-6 bg-[#FFFFFF05] rounded-full flex w-full max-w-[600px];
}

.amount-input-field {
  @apply bg-transparent w-full border-none focus:outline-none text-[40px] font-bold placeholder:text-[#FFFFFF33];
}

/* New css */

.text-bg {
  background: linear-gradient(270deg, #fff -67.89%, #999 99.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.selected-btns {
  @apply flex justify-center items-center gap-4 px-4 py-[10.5px] rounded-lg border-[0.25px]  hover:bg-[#ffffff14] hover:border-transparent;
}

.proposal-view {
  @apply shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] flex flex-col w-[50%]  gap-4 p-6 rounded-2xl;
  background: rgba(255, 255, 255, 0.02);
}
.vote-optn-btn {
  @apply flex justify-center items-center gap-2  px-4 py-[10.5px] rounded-[100px] border-[1px];
}
.header {
  @apply flex flex-col justify-center items-start gap-4 px-6 py-4 top-0 sticky;
  background: #ffc13c;
}
.cast-vote-grid {
  @apply flex flex-col items-end gap-6 w-full pt-4 pb-6 px-4 rounded-3xl;
  background: #ffffff05;
}
.proposal-passed-text {
  @apply bg-clip-text text-sm font-light leading-[normal];
  background: linear-gradient(90deg, #b7e183 0%, #71de56 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vertical-line {
  @apply w-[0.25px] h-14 bg-[#FFFFFF80] opacity-20;
}
.blur {
  @apply backdrop-blur-[2px];
  background: linear-gradient(
    174deg,
    rgba(217, 217, 217, 0) -235.54%,
    rgba(14, 16, 27, 0.02) 95.6%
  );
}

.yes-bg {
  background: linear-gradient(90deg, #2ba472 0%, rgba(43, 164, 114, 0.5) 100%);
}
.no-bg {
  background: linear-gradient(90deg, #d92101 0%, rgba(217, 33, 1, 0.5) 100%);
}
.abstain-bg {
  background: linear-gradient(90deg, #ffc13c 0%, rgba(255, 193, 60, 0.5) 100%);
}
.veto-bg {
  background: linear-gradient(90deg, #da561e 0%, rgba(218, 86, 30, 0.5) 100%);
}
.badge-bg {
  @apply flex justify-center items-center gap-2 px-4 py-2 rounded-[100px] bg-[#FFFFFF05] w-[158px];
}
