.contract-card {
  @apply flex justify-start gap-10 p-6 rounded-2xl;
  background: rgba(255, 255, 255, 0.02);
}

.search-contract-input {
  @apply w-full border-none cursor-text focus:outline-none bg-transparent placeholder:text-[#FFFFFF30] placeholder:font-normal text-[#ffffff] flex-1 text-[14px];
}

.search-contract-field {
  @apply py-4 px-6 bg-[#FFFFFF05] rounded-full flex w-full;
}
.upload-box {
  @apply rounded-3xl px-6 py-[10.5px] flex items-center cursor-pointer h-[50vh];
  border: 0.25px dashed #ffffff20;
}
