.contract-card {
  @apply flex justify-start gap-10 p-6 rounded-2xl;
  background: rgba(255, 255, 255, 0.02);
}

.search-contract-input {
  @apply w-full border-none cursor-text focus:outline-none bg-transparent placeholder:text-[#FFFFFF30] placeholder:font-normal text-[#ffffff] flex-1 text-[14px];
}

.search-contract-field {
  @apply py-4 px-6 bg-[#FFFFFF05] rounded-full flex w-full;
}
.upload-box-cosmwasm {
  @apply rounded-3xl px-6 py-[10.5px] flex items-center cursor-pointer h-[50vh];
  border: 0.25px dashed #ffffff20;
}

.query-input,
.execute-input {
  @apply relative flex-1 border-[1px] rounded-2xl border-[#ffffff1e] hover:border-[#ffffff50];
}

.query-btn,
.execute-btn {
  @apply absolute bottom-6 right-6 min-w-[85px];
}

.format-json-btn {
  @apply h-8 border-[1px] border-[#FFFFFF33] rounded-full p-2 text-[12px] font-extralight top-4 right-4 absolute hover:border-[#ffffff50];
}

.query-output-box {
  @apply text-[14px] border-[1px] border-[#FFFFFF26] p-6 rounded-2xl min-h-[380px] flex flex-col gap-4;
}

.provide-funds-input {
  @apply border-[1px] border-[#ffffff1e] hover:border-[#ffffff50] rounded-2xl relative;
}
.contract-info-card {
  @apply space-y-2 bg-[#FFFFFF0D] rounded-lg p-4 justify-center items-center text-center;
  background: linear-gradient(
    45deg,
    rgb(255 255 255 / 3%) 0%,
    rgb(153 153 153 / 25%) 100%
  );
}
