.staking-sidebar {
  @apply p-6 w-[500px] bg-[#0E0B26] h-screen max-h-screen overflow-y-hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.staking-stats-card {
  @apply bg-[#FFFFFF0D] rounded-2xl p-2;
  backdrop-filter: blur(2px);
}

.staking-actions-menu {
  @apply rounded-2xl;
  background: linear-gradient(
    180deg,
    rgba(31, 24, 78, 0.9) 31.25%,
    rgba(139, 61, 167, 0.9) 100%
  );
  backdrop-filter: blur(5px);
}

.staking-actions-menu-item {
  @apply px-4 py-2 text-[14px] w-[150px] font-medium leading-normal cursor-pointer;
}

.staking-actions-menu-item:hover {
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}

.staking-card,
.unbonding-card {
  @apply p-4 rounded-2xl bg-[#0E0B26] overflow-x-hidden;
  backdrop-filter: blur(2px);
}

.staking-card-action-button {
  @apply rounded-lg h-[32px] w-[32px] flex items-center justify-center cursor-pointer;
}

.unbonding-card {
  @apply flex flex-col gap-4;
}

.cancel-unbonding-btn {
  @apply p-2 rounded-lg text-sm leading-[20px] font-extralight;
}

.staking-sidebar-actions {
  @apply flex gap-6 text-[16px] leading-[20px] font-medium;
}

.staking-sidebar-actions-btn {
  @apply w-1/2 px-6 py-3 rounded-2xl;
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}

.allvalidators {
  border-radius: 24px;
  opacity: 0.95;
}

.custom-radio-button-label {
  @apply flex items-center cursor-pointer gap-2;
}

.custom-radio-button {
  @apply border-2 w-4 h-4 border-[#FFFFFF80] rounded-full flex justify-center items-center;
}

.custom-radio-button-checked {
  @apply h-[6px] w-[6px] bg-white rounded-full;
}

.delegate-button {
  @apply px-3 py-[6px] text-[12px] leading-[20px] rounded-lg font-medium;
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}

.delegate-button-inactive {
  @apply bg-[#FFFFFF1A] text-[#FFFFFF1A];
  background: #ffffff1a;
}

.overview-grid {
  @apply grid grid-cols-1 gap-6 md:grid-cols-2;
}

.unbondings-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6;
}

.staking-main {
  @apply px-10 py-6 flex-1 h-screen max-h-screen overflow-y-scroll;
}

.search-validator-input {
  @apply w-full pl-2 border-none cursor-pointer focus:outline-none bg-transparent placeholder:text-[14px] placeholder:text-[#FFFFFFBF] placeholder:font-extralight text-[#FFFFFFBF];
}

.dialog-delegate-button {
  @apply py-[10px] px-10 rounded-2xl;
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}

.cancel-button {
  @apply text-[16px] leading-[20px] font-medium tracking-[0.64px] underline underline-offset-2 cursor-pointer;
}

.no-delegations {
  @apply mt-36 text-[16px] font-medium text-center;
}

.sidebar-delegate-button {
  @apply px-3 py-[6px] text-[12px] leading-[20px] rounded-lg font-medium;
}

.errors-chip {
  @apply opacity-80 rounded-lg text-[#E57575] text-center text-sm not-italic font-normal leading-[normal] max-w-fit py-1 px-2 truncate;
  background: rgba(229, 117, 117, 0.2);
}