.txn-grid {
  @apply opacity-80 flex items-center gap-2 w-full px-6 py-4 rounded-2xl;
  background: rgba(255, 255, 255, 0.02);
}
.txn-type-chip {
  @apply flex justify-center items-center gap-2 px-4 py-2 rounded-lg;
  background: rgba(255, 255, 255, 0.06);
}
.more-chip {
  @apply flex w-[37px] h-[37px] justify-center items-center gap-2 px-2 py-[10.5px] rounded-[100px];
  background: rgba(255, 255, 255, 0.08);
}
.msg-grid {
  @apply flex flex-col items-start gap-4 w-full pb-4 rounded-2xl;
  background: rgba(255, 255, 255, 0.02);
}
.msg-type-bg {
  @apply flex items-start px-6 py-4 rounded-2xl w-full;
  background: rgba(255, 255, 255, 0.02);
}
.right-view-grid {
  @apply flex flex-col items-start gap-4 p-6 rounded-2xl w-[370px];
  background: rgba(255, 255, 255, 0.02);
}
.network-bg {
  @apply flex px-4 py-2 gap-2 rounded-[100px];
  background: rgba(255, 255, 255, 0.04);
}
