.message-text-gradient {
  background-image: linear-gradient(to bottom, #4aa29c 0%, #8b3da7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txn-btn-wrapper {
  @apply rounded-lg p-[1px];
  background: linear-gradient(to right, #4aa29c, #8b3da7);
}

.txn-btn-wrapper:hover {
  background: linear-gradient(to right, #8b3da7, #4aa29c);
}

.txn-btn {
  @apply bg-[#0B071D] text-[12px] font-semibold px-3 py-[10px] flex justify-center items-center rounded-lg;
}
