.create-grant-btn {
  @apply py-[10px] rounded-2xl px-10 text-[16px] font-medium leading-[20px] tracking-[0.64px];
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}



.grants-type-btn,
.grants-type-btn-selected {
  @apply flex items-center rounded-full bg-[#FFFFFF1A] text-[14px] w-[144px] h-[33px] leading-normal px-6 py-2;
  backdrop-filter: blur(2px);
}

.grants-type-btn-selected {
  background: linear-gradient(180deg, #4aa29c 0%, #8b3da7 100%);
}
<<<<<<< HEAD
=======

.authz-card {
  @apply flex flex-col items-start gap-4 backdrop-blur-[2px] p-6 rounded-2xl;
  background: #0e0b26;

}

.grant-address {
  @apply flex items-center gap-2 opacity-80 p-2 rounded-lg;
  background: rgba(255, 255, 255, 0.1);
}

.authz-card-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6;
}

.authz-permission-card {
  @apply flex flex-col items-start gap-6 backdrop-blur-[2px] p-6 rounded-2xl;
  background: rgba(255, 255, 255, 0.05);
}

.authz-small-text {
  @apply text-[#FFFFFF80] text-sm font-normal leading-[normal]
}


.divider-line {
  @apply h-[1px] w-full my-6 bg-[#ffffff35] opacity-50;
}

.error-box {
  @apply flex justify-end mt-2 h-[26px];
}

.error-chip {
  @apply text-[12px] rounded-lg bg-[#ff00005b] text-white text-center leading-normal max-w-fit py-1 px-2 truncate;
}

.msg-item {
  @apply flex-center-center cursor-pointer rounded-2xl px-6 py-4 text-[14px] bg-[#FFFFFF0D];
}

.grant-authz-form {
  @apply rounded-2xl bg-[#FFFFFF0D] p-6;
}

.moniker-name-chip {
  @apply rounded-2xl font-light text-[14px] bg-[#FFFFFF0D] px-3 py-2 max-w-[120px] truncate;
}
>>>>>>> 684fbd7 (fix: authz bug fixes (#1094))
