.create-grant-btn {
  @apply py-[10px] rounded-2xl px-10 text-[16px] font-medium leading-[20px] tracking-[0.64px] primary-gradient;
}

.grants-type-btn,
.grants-type-btn-selected {
  @apply flex items-center rounded-full bg-[#FFFFFF1A] text-[14px] w-[144px] h-[33px] leading-normal px-6 py-2;
  backdrop-filter: blur(2px);
}

.grants-type-btn-selected {
  @apply primary-gradient;
}
.authz-card {
  @apply flex flex-col items-start gap-4 backdrop-blur-[2px] p-6 rounded-2xl;
  background: #0e0b26;
  /* @apply p-4 rounded-2xl bg-[#0E0B26] overflow-x-hidden;
  backdrop-filter: blur(2px); */
}
.grant-address {
  @apply flex items-center gap-2 self-stretch opacity-80 p-2 rounded-lg;
  background: rgba(255, 255, 255, 0.1);
}
.authz-card-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6;
}
