.create-grant-btn {
  @apply py-[10px] rounded-2xl px-10 text-[16px] font-medium leading-[20px] tracking-[0.64px] primary-gradient;
}

.grants-type-btn,
.grants-type-btn-selected {
  @apply flex items-center rounded-full bg-[#FFFFFF1A] text-[14px] w-[144px] h-[33px] leading-normal px-6 py-2;
  backdrop-filter: blur(2px);
}

.grants-type-btn-selected {
  @apply primary-gradient;
}

.divider-line {
  @apply h-[1px] w-full my-6 bg-[#ffffff35] opacity-50;
}

.error-box {
  @apply flex justify-end mt-2 h-[26px];
}

.error-chip {
  @apply text-[12px] rounded-lg bg-[#ff00005b] text-white text-center leading-normal max-w-fit py-1 px-2 truncate;
}

.msg-item {
  @apply flex-center-center cursor-pointer rounded-2xl px-6 py-4 text-[14px] bg-[#FFFFFF0D];
}
