.selected-tab {
  background: linear-gradient(90deg, #4453df 0%, #7f5ced 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.feegrant-main {
  @apply pt-10 relative flex flex-col;
  height: calc(100vh - 56px);
}

.search-network-input {
  @apply w-full border-none cursor-text focus:outline-none bg-transparent placeholder:text-[#FFFFFF30] placeholder:font-normal text-[#ffffff] flex-1 text-[14px];
}

.chain-item,
.msg-item {
  @apply border-[0.25px] border-[#FFFFFF30] rounded-lg p-2 pr-3 flex items-center gap-1;
}

.chain-item-selected,
.msg-item-selected {
  @apply bg-[#FFFFFF10] border-transparent;
}

.error-box {
  @apply flex justify-end mt-2;
}

.error-chip {
  @apply text-[12px] rounded-lg bg-[#ff00005b] text-center leading-normal max-w-fit px-2 truncate;
}
