.selected-tab {
  background: linear-gradient(90deg, #4453df 0%, #7f5ced 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.feegrant-main {
  @apply pt-10 relative flex flex-col;
  height: calc(100vh - 56px);
}

.search-network-input {
  @apply w-full border-none cursor-text focus:outline-none bg-transparent placeholder:text-[#FFFFFF30] placeholder:font-normal text-[#ffffff] flex-1 text-[14px];
}

.chain-item,
.msg-item {
  @apply border-[0.25px] border-[#FFFFFF30] rounded-lg p-2 pr-3 flex items-center gap-1;
}

.chain-item-selected,
.msg-item-selected {
  @apply bg-[#FFFFFF10] border-transparent;
}

.error-box {
  @apply flex justify-end mt-2;
}

.error-chip {
  @apply text-[12px] rounded-lg bg-[#ff00005b] text-center leading-normal max-w-fit px-2 truncate;
}

.grants-card {
  @apply flex p-6 rounded-2xl w-full;
  background: rgba(255, 255, 255, 0.02);
}

.selected-grants-card {
  @apply flex p-6 border rounded-2xl border-solid border-[#4453DF] w-full;
  background: linear-gradient(
    90deg,
    rgba(68, 83, 223, 0.1) 0%,
    rgba(127, 92, 237, 0.1) 100%
  );
}

.permission-card {
  @apply h-8 flex justify-center items-center gap-2 px-4 py-2 rounded-lg;
  background: rgba(255, 255, 255, 0.06);
}

.cancel-btn {
  @apply border-[1px] text-[14px] rounded-full px-4 py-[10.5px] leading-[21px] !h-8 flex justify-center items-center text-[#fffffff0]  border-solid border-[#D92101];
  background: rgba(217, 33, 1, 0.1);
}

.selected-filter {
  @apply flex justify-center items-center gap-4 px-4 py-[10.5px] rounded-lg border-[0.25px]  hover:bg-[#ffffff14] hover:border-transparent w-[50%];
}

.dialog-permission {
  @apply flex flex-col items-start gap-6 pb-6 rounded-2xl;
  background: rgba(255, 255, 255, 0.02);
}

.dialog-permission-header {
  @apply flex items-start gap-2 w-full px-6 py-4 rounded-2xl;
  background: rgba(255, 255, 255, 0.02);
}
