.msg-amount {
  @apply text-[14px] font-bold;
  background-image: linear-gradient(to bottom, #4aa29c, #8b3da7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.amount-options {
  @apply text-white text-sm not-italic font-normal leading-[normal] rounded-[100px];
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
}

.amount-options-default {
  background: rgba(255, 255, 255, 0.1);
}

.amount-options-fill {
  background:
    linear-gradient(
      180deg,
      rgba(74, 162, 156, 0.9) 0%,
      rgba(139, 61, 167, 0.9) 100%
    ),
    lightgray 50% / cover no-repeat;
}

.error-box {
  @apply flex justify-end mt-2 h-[26px];
}

.error-chip {
  @apply text-[12px] rounded-lg bg-[#ff00005b] text-white text-center leading-normal max-w-fit py-1 px-2 truncate;
}
